@font-face {
  font-family: "tourism"; /* Project id 4137250 */
  src: url('//at.alicdn.com/t/c/font_4137250_st1ha9l0k1e.woff2?t=1687685028672') format('woff2'),
  url('//at.alicdn.com/t/c/font_4137250_st1ha9l0k1e.woff?t=1687685028672') format('woff'),
  url('//at.alicdn.com/t/c/font_4137250_st1ha9l0k1e.ttf?t=1687685028672') format('truetype');
}

.tourism {
  font-family: "tourism" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tourism-icon-feiji:before {
  content: "\e600";
}

.tourism-icon-lvyou:before {
  content: "\e6a9";
}

.tourism-icon-lvyouchanpin:before {
  content: "\e63b";
}

.tourism-icon-lvyou1:before {
  content: "\e623";
}

.tourism-icon-lvyou2:before {
  content: "\e601";
}

.tourism-icon-lvyou3:before {
  content: "\e60c";
}

.tourism-icon-lvyoubaochedingdan:before {
  content: "\e612";
}

.tourism-icon-lvyou4:before {
  content: "\e653";
}

.tourism-icon-lvyou5:before {
  content: "\e610";
}

.tourism-icon-lvyouguanguang:before {
  content: "\e87e";
}

.tourism-icon-lvyou6:before {
  content: "\e642";
}
