<el-form-item :label="t('{LOWER_COLUMN_NAME}')" {PROP}>
    <el-radio-group v-model="formData.{COLUMN_NAME}" :placeholder="t('{LOWER_COLUMN_NAME}Placeholder')">
        <el-radio label="1">
            选项1
        </el-radio>
        <el-radio label="2">
                    选项2
        </el-radio>
    </el-radio-group>
</el-form-item>
