
<el-form-item :label="t('{LCASE_COLUMN_NAME}')" {PROP}>
    <el-radio-group v-model="formData.{COLUMN_NAME}" :placeholder="t('{LCASE_COLUMN_NAME}Placeholder')">
        <el-radio
            v-for="(item, index) in {DICT_TYPE}"
            :key="index"
            :label="{ITEM_VALUE}"
        >
            {{ item.name }}
        </el-radio>
    </el-radio-group>
</el-form-item>
