<el-form-item :label="t('{LCASE_COLUMN_NAME}')" {PROP}>
    <el-select class="input-width" v-model="formData.{COLUMN_NAME}" clearable :placeholder="t('{LCASE_COLUMN_NAME}Placeholder')">
        <el-option
            v-for="(item, index) in {DICT_TYPE}"
            :key="index"
            :label="item.name"
            :value="{ITEM_VALUE}"
        />
    </el-select>
</el-form-item>
