{ROUTE}


{BEGIN}
Route::group('{ROUTE_GROUP_NAME}', function () {

    //{NOTES}列表
    Route::get('{ROUTE_NAME}', '{ROUTE_PATH}lists');
    //{NOTES}详情
    Route::get('{ROUTE_NAME}/:id', '{ROUTE_PATH}info');
    //添加{NOTES}
    Route::post('{ROUTE_NAME}', '{ROUTE_PATH}add');
    //编辑{NOTES}
    Route::put('{ROUTE_NAME}/:id', '{ROUTE_PATH}edit');
    //删除{NOTES}
    Route::delete('{ROUTE_NAME}/:id', '{ROUTE_PATH}del');

})->middleware([
    AdminCheckToken::class,
    AdminCheckRole::class,
    AdminLog::class
]);
{END}
