<?php
// +----------------------------------------------------------------------
// | Niucloud-admin 企业快速开发的多应用管理平台
// +----------------------------------------------------------------------
// | 官方网址：https://www.niucloud.com
// +----------------------------------------------------------------------
// | niucloud团队 版权所有 开源版本可自由商用
// +----------------------------------------------------------------------
// | Author: Niucloud Team
// +----------------------------------------------------------------------

{NAMESPACE}

use core\base\BaseModel;
use think\model\concern\SoftDelete;
use think\model\relation\HasMany;
use think\model\relation\HasOne;

/**
 * {CLASS_COMMENT}
 * Class {UCASE_NAME}
 * @package {PACKAGE_NAME}
 */
class {UCASE_NAME} extends BaseModel
{

    {SOFT_DELETE}

    /**
     * 数据表主键
     * @var string
     */
    protected $pk = '{PK}';

    /**
     * 模型名称
     * @var string
     */
    protected $name = '{TABLE_NAME}';

    {DELETE_COLUMN}

    {DELETE_COLUMN_VALUE}

    {SEARCH_FUNCTION}

    {RELATION_MODEL}
}
