:root {
    --aside-width: 210px;
    --el-mask-color: rgba(255,255,255,1);
}

.border-color {
    border-color: var(--el-border-color-lighter);
}

.el-form {
    .form-tip {
        width: 100%;
        font-size: var(--el-font-size-small);
        color: var(--el-color-info-light-3);
        line-height: 1;
        margin-top: 10px;
    }
}

.page-form {
    .input-width {
        width: 300px;
    }
}

.w-e-full-screen-container {
    z-index: 10;
}

.w-e-toolbar {
    .w-e-bar-divider {
        display: none;
    }
}

.main-container{
    .full-container {
        height: calc(100vh - 122px);
    }
}

.panel-title {
    margin: 0 0 16px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.fixed-footer-wrap {
    height: 48px;

    .fixed-footer {
        position: fixed;
        height: inherit;
        background:var(--el-bg-color-overlay);
        padding-left: var(--aside-width);
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        --tw-shadow: var(--el-box-shadow);
        --tw-shadow-colored: var(--el-box-shadow);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
        transition:var(--el-transition-duration) width ease-in-out,var(--el-transition-duration) padding-left ease-in-out,var(--el-transition-duration) padding-right ease-in-out
    }
}

html.dark {
    .el-table {
        --el-table-header-bg-color: var(--el-bg-color)!important
    }
    .table-search-wrap {
        background-color: var(--el-bg-color)!important;
    }
    --w-e-toolbar-bg-color: var(--el-bg-color-overlay);
    --w-e-textarea-bg-color: var(--el-bg-color-overlay);
    --w-e-textarea-color: var(--el-input-text-color);
    --w-e-toolbar-border-color: var(--el-border-color);
    --w-e-toolbar-active-bg-color:var(--el-bg-color);
    --w-e-toolbar-active-color:var(--el-text-color-primary);
}

:root input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 50px 50px white inset;
}

// 表格
.el-pager li.is-active{
    font-weight: normal !important;
}

// 筛选框
.table-search-wrap {
    .el-card__body{
        padding: 10px 0;
    }
    .el-form {
        margin-bottom: -18px;
    }
}

// 背景颜色
.base-bg{
    background-color: transparent !important;
    // background-color: #F5F7F9 !important; 原来的颜色
}

// 数据展示面板
.el-statistic {
    --el-statistic-content-font-size: 28px !important;
}

.region-input {
    --region-input-border-color: var(--el-border-color);
    display: flex;
    box-shadow: 0 0 0 1px var(--region-input-border-color) inset;
    border-radius: var(--el-input-border-radius,var(--el-border-radius-base));
    height: calc(var(--el-input-inner-height) - 2px);
    line-height: calc(var(--el-input-inner-height) - 2px);
    transition: var(--el-transition-box-shadow);

    &:hover {
        --region-input-border-color: var(--el-color-primary);
    }

    .separator {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 5px;
        margin: 0;
        font-size: 14px;
        word-break: keep-all;
        color: var(--el-text-color-primary);
    }

    .el-form-item {
        flex: 1;
    }

    input {
        padding: 0 10px;
        appearance: none;
        border: none;
        outline: 0;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin: 0;
        text-align: center;
        font-size: var(--el-font-size-base);
        color: var(--el-text-color-regular);
        background-color: transparent;

        &::placeholder {
            color: var(--el-text-color-placeholder);
        }
    }
}