:root {}

.el-header {
    --el-header-padding: 0 !important;
    --el-header-height: 64px !important;
}

.el-button {
    background-color: var(--el-button-bg-color, var(--el-color-white));
}

.el-dialog {
    max-width: calc(100vw - 50px);
}

.el-table {
    --el-table-header-bg-color: #f5f7fa!important
}

.el-date-editor--daterange, .el-date-editor--timerange, .el-date-editor.el-input, .el-date-editor .el-input__wrapper {
    --el-date-editor-width: 100%!important;
    width: 100%;
}


.el-textarea__inner::-webkit-scrollbar {
    width: 6px ;
    height: 6px ;
}

.el-textarea__inner::-webkit-scrollbar-thumb {
    border-radius: 3px ;
    -moz-border-radius: 3px ;
    -webkit-border-radius: 3px ;
    background-color: #909399;
    opacity: .3;
}

.el-textarea__inner::-webkit-scrollbar-track {
   background-color: transparent ;
}