@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';
@import 'element-plus/theme-chalk/display.css';
@import 'tailwind.css';
@import 'element-plus.css';
@import 'iconfont.css';
@import 'common.scss';