{extend name="base"/}
{block name="resources"}
<style>
	.install-content-procedure .content-procedure-item:first-of-type{
		background: url("INSTALL_IMG/complete_two.png") no-repeat center / contain;
		color: #fff;
	}
	.install-content-procedure .content-procedure-item:nth-child(2), .install-content-procedure .content-procedure-item:nth-child(3){
		background: url("INSTALL_IMG/complete_four.png") no-repeat center / contain;
		color: #fff;
	}
	.install-content-procedure .content-procedure-item:nth-child(4){
		background: url("INSTALL_IMG/complete_three.png") no-repeat center / contain;
		color: #fff;
	}
	.install-content-procedure{border: none;}
</style>
{/block}
{block name="main"}
<div class="install-success">
	<div class="install-success-box">
		<div class="success-img">
			<img class="install-success-pic" src="INSTALL_IMG/success_img.jpg" alt="">
		</div>
		<div class="install-success-text">
			<p class="install-success-title">恭喜您！已成功安装niucloud-admin。</p>
			<p class="install-success-desc">建议删除安装目录install后使用</p>
		</div>
	</div>
</div>
<div class="other-links">
	<div class="back">
		<p class="other-links-title">您现在可以访问：</p>
		<ul class="other-links-list">
			<li class="other-links-item" onclick="window.open('{$root_url}/admin/login')">
				<div  class="other-links-pic">
					<img src="INSTALL_IMG/web.jpg" alt="">
				</div>
				<a href="javascript:void(0)" class="other-links-text" >网站后台</a>
			</li>
			<li class="other-links-item" onclick="window.open('{$root_url}/site/login')">
				<div  class="other-links-pic">
					<img src="INSTALL_IMG/site_web.png" alt="">
				</div>
				<a href="javascript:void(0)" class="other-links-text" >站点后台</a>
			</li>
			<li class="other-links-item" onclick="window.open('{$root_url}/web/100000/')">
				<div  class="other-links-pic">
					<img src="INSTALL_IMG/site_web.png" alt="">
				</div>
				<a href="javascript:void(0)" class="other-links-text" >站点电脑端</a>
			</li>
			<li class="other-links-item" onclick="window.open('{$root_url}/wap/100000/')">
				<div  class="other-links-pic">
					<img src="INSTALL_IMG/site_h5.png" alt="">
				</div>
				<a href="javascript:void(0)" class="other-links-text" >站点手机端</a>
			</li>
			<li class="other-links-item" onclick="window.open('https://www.niucloud.com')">
				<div  class="other-links-pic">
					<img src="INSTALL_IMG/admin.jpg" alt="">
				</div>
				<a href="javascript:void(0)" class="other-links-text" >NIUCLOUD官方网站</a>
			</li>
		</ul>
	</div>
</div>
{/block}

{block name="script"}
<script>
	ControlContent(3);

	// function getStatus() {
	// 	$.ajax({
	// 		url: "{$root_url}/install.php/index/getInstallInfo",
	// 		dataType: 'json',
	// 		type: 'post',
	// 		success : function(data) {
	// 			console.log(data);
	// 			setTimeout(() => {
	// 				getStatus();
	// 			}, 500)
	// 		}
	// 	})
	// }
	//
	// setTimeout(() => {
	// 	getStatus();
	// }, 500)


</script>
{/block}