<el-form-item :label="t('{LCASE_COLUMN_NAME}')" prop="{COLUMN_NAME}">
    <daterange-picker
        v-model:startTime="{LCASE_CLASS_NAME}Table.searchParam.start_time"
        v-model:endTime="{LCASE_CLASS_NAME}Table.searchParam.end_time"
    />
</el-form-item>